/*************
 GENERAL
*************/
:root
{
  --primary-color: rgb(40, 70, 94);
  --color: #1b2e38;
  --color1: rgb(9, 73, 78);
  --color2: rgba(23,180,83,.0788);
  --color3: rgba(11,94,211,.623);
  --color4: #292931;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body
{
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #d8d8d8;
}
body::-webkit-scrollbar
{
  width: 7px;
}
body::-webkit-scrollbar-thumb
{
  background-color: var(--color4);
}
a
{
  text-decoration: none;
}
/***************
APARECER ELEMENTOS
*****************/
.mover
{
  opacity: 0;
}
@keyframes mover-down
{
  0%
  {
    transform: translate(0, 20%);
  }
}
@keyframes mover-right
{
  0%
  {
    transform: translate(20%);
  }
}
@keyframes mover-left
{
  0%
  {
    transform: translate(-20%);
  }
}

/****************
PRELOADER
*****************/
.hidden
{
  overflow: hidden;
}
.centrado
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:#000;
  z-index: 100; /* se coloca encima de los elementos */
  display: flex;
  justify-content: center; /*centrado horizontal */
  align-items: center; /* centrado vertical */
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*********
HEADER
**********/
header
{
  padding-top: 15px;
  background-color: rgba(10, 33, 46, 0.541);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.63);
  background: linear-gradient(to bottom,
  rgba(10, 33, 46, 0.945),
  rgba(10, 33, 46, 0.945)
  ), url("../imgCert/banner.png");
  background-attachment: fixed;
  
  background-size: cover;
  background-repeat: no-repeat;
  animation: animHeader 5s infinite alternate;
}
@keyframes animHeader
{
  0%
  {
    background-position: bottom;
  }
  50%
  {
    background-position: top;
  }
  100%
  {
    background-position: bottom;
  }

}
header .volver
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
header .volver a:hover
{
  transform: scale(1.1);
}
.title
{
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  width: 60%;
  text-align: center;
}
.title span
{
  color: #005a8a;
  font-weight: bolder;
}
.logo
{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img
{
  height: 40px;
  vertical-align: top;
}
.btn-comenzar
{
  width: 100%;
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  text-align: center;
}
.btn-comenzar>a
{
  display: flex;
  flex-direction: column;
  color: #d0d8e7;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-shadow: 3px 2px rgba(0, 0, 0, 0.671);
  letter-spacing: 1.5px;
  animation: animComen 1.5s infinite alternate;
}
@keyframes animComen
{
  0%{
    transform: translate(0, -30%);
  }
}
/*************
ESTILOS GALERIA 
**************/
.galeria-container
{
  padding: 2em;
  max-width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5em;
}
.gallery-item
{
  width: 100%;
  height: 300px;
  background: #d0d8e7;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.63);
}
.gallery-img
{
  display: block;
  width: 100%;
  height: 90%;
  object-fit: cover;
  transition: all .5s;
}
.gallery-item span
{
  color: rgb(85, 84, 84);
  height: 10%;
}

/************
EFECTO HOVER
*************/
.gallery-item::before
{
  content: url("../imgCert/ojo.png");
  position: absolute;
  transform: scale(0.1);
  opacity: 0;
}
.gallery-item:hover .gallery-img
{
  transform: scale(1.2);
  filter: blur(3px);
  opacity: 0.4;
}
.gallery-item:hover::before
{
  opacity: 1;
}

/************
MODAL
************/
.modal
{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.flexModal
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.flexModal .close
{
  margin-top: 10px;
}
.flexModal .close a:hover img
{
  content: url(../imgCert/centro.png);
}
.modal .contenidoModal
{
  position: fixed;
  top: 50px;
  transform: scale(0,0);
  transition: transform 0.35s ease;
  width: 100%;
  display: flex;
}
.modal:target
{
  opacity: 1;
  top: 0;
}
.modal:target .contenidoModal
{
  transform: scale(1,1);
  transition: transform 0.35s ease;
}

/**********
SLIDER
************/
.swiper-container
{
  width: 100%;
  height: 550px;
}
.swiper-container .swiper-slide
{
  width: 654px;
  height: 500px;
}
.swiper-slide img
{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/**********
FOOTER
**********/
footer
{
  background: var(--color4);
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.footer-arriba
{
  color: azure;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 30px 0 20px 0;
}
footer div
{
  width: 25%;
}
.marca-logo
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.marca-logo img
{
  width: 100%;
}
.contacto-footer
{
  width: 20%;
}
.contacto-footer a
{
  color: rgba(145, 145, 145, 0.918);
}
.contacto-footer a:hover
{
  color: rgb(80, 79, 79);
}
.contacto-footer>span
{
  display: block;
  margin-bottom: 5px;
}
footer h4
{
  margin-bottom: 10px;
}
.redes-footer>a>img:hover
{
 transform: scale(1.1,1.1);
}
.fab
{
  width: 20px;
  margin-right: 5px;
}
footer p
{
  display: block;
  width: 100%;
  margin-top: var(--espacios);
  background-color: #16161a;
  color: rgba(119, 119, 119, 0.678);
  padding: 5px 0;
  text-align: center;
}
@media screen and (max-width: 500px)
{
    header .logo
    {
        width: 4%;
        transform: scale(0,0);
    }
    .marca-logo
    {
    width: 4%;
    transform: scale(0,0);
    }
    .contacto-footer
    {
      width: 70%;
    }
    .redes-footer
    {
      width: 25%;
    }
    .swiper-container
    {
      width: 100%;
      height: 350px;
    }
    .swiper-container .swiper-slide
    {
      width: 554px;
      height: 300px;
    }
}