@media screen and (max-width: 700px)
{
    .nav2
    {
      color: #fff;
    }
    .icono
    {
      display: block;
      cursor: pointer;
    }
    .enlaces
    {
      position: fixed;
      top: 80px;
      background: #f2f2f2b0;
      left: 0;
      height: 100%;
      transition: 1s;
      width: 0;
      overflow: hidden;
    }
    .enlaces a
    {
      display: block;
      width: 100%;
      height: 50px;
      padding: 20px;
      text-align: center;
      background: #f2f2f29d;
      color: #fff;
    }
    .textos>h1
    {
      font-size: 70px;
    }
    .textos>h2
    {
      font-size: 35px;
    }
    .content-card
    {
      width: 48%;
      margin-bottom: var(--margenes);
    }
    :root
    {
      --margenes: 30px;
    }
    .contenidoModal
    {
      width: 70%;
    }
}

@media screen and (max-width: 500px)
{
  header 
  {
    height: 480px;
    background-size: initial;
  }
  .textos .t1-1
  {
    left: 12%;
    font-size: 35px;
  }
  .textos .t2-1
  {
    top: 45%;
    left: 20%;
    font-size: 16px;
  }
  .textos .t1-2
  {
    font-size: 15px;
  }
  .textos .t2-2
  {
    top: 43%;
    font-size: 12px;
  }
  :root
  {
    --espacios-contenido: 25px;
  }
  .content-card
  {
    width: 90%;
  }
  .caja-servicios
  {
    width: 90%;
    margin-bottom: var(--margenes);
  }
  .cont-work
  {
    width: 85%;
  }
  .comunicado1-fondo 
  {
    background-position: right;
    padding: 40px 10px;
  }
  .comunicado1-content>h3::after 
  {
    margin-left: 60%;
  }
  .comunicado1-content 
  {
    max-width: 100%;
  }
  .caja-fi
  {
    width: 85%;
    height: 400px;
  }
  .servicios
  {
    justify-content: center;
  }
  .caja-contacto
  {
    width: 85%;
    height: 200px;
  }
  .marca-logo
  {
    width: 4%;
    transform: scale(0,0);
  }
  .contacto-footer
  {
    width: 70%;
  }
  .redes-footer
  {
    width: 25%;
  }
}