/*************
 GENERAL
*************/
:root
{
  --primary-color: rgb(40, 70, 94);
  --color: #1b2e38;
  --color1: rgb(9, 73, 78);
  --color2: rgba(23,180,83,.0788);
  --color3: rgba(11,94,211,.623);
  --color4: #292931;
  --fondo: #f2f2f2;
  --titulos: 33px;
  --margenes: 60px;
  --espacios: 10px;
  --espacios-contenido: 45px;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
    background-color: #dfe2df;
    font-family: 'Open Sans Condensed', sans-serif;
}
body::-webkit-scrollbar
{
  width: 7px;
}
body::-webkit-scrollbar-thumb
{
  background-color: var(--color4);
}
a
{
  text-decoration: none;
}

/****************
PRELOADER
*****************/
.hidden
{
  overflow: hidden;
}
.centrado
{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:#000;
  z-index: 100; /* se coloca encima de los elementos */
  display: flex;
  justify-content: center; /*centrado horizontal */
  align-items: center; /* centrado vertical */
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*********
HEADER
**********/
header
{
  padding: 15px 0;
  background-color: rgba(10, 33, 46, 0.541);
  display: flex;
  flex-direction: row;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.63);
  background: linear-gradient(to bottom,
  rgba(10, 33, 46, 0.945),
  rgba(10, 33, 46, 0.945)
  ), url("/imgCert/banner.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  animation: animHeader 5s infinite alternate;
}
@keyframes animHeader
{
  0%
  {
    background-position: bottom;
  }
  50%
  {
    background-position: top;
  }
  100%
  {
    background-position: bottom;
  }

}
header .volver
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
header .volver a:hover
{
  transform: scale(1.1);
}
.title
{
  font-weight: bold;
  font-size: 3em;
  color: #fff;
  width: 60%;
  text-align: center;
}
.title span
{
  color: #005a8a;
  font-weight: bolder;
}
.logo
{
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img
{
  height: 40px;
  vertical-align: top;
}

/************
TABLA PRECIOS
*************/
.contenedor
{
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.tabla
{
    width: 33%;
    height: 560px;
    margin: auto;
    background-color: rgb(255, 242, 242);
    border: 1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1; /* PEGA LAS TABLAS */
    color: #343759; 
}
.tabla>h2
{
  font-size: 30px;
}
.tabla .estrellas
{
  margin-bottom: 35px;
}
.tabla img
{
  width: 64px;
  margin-bottom: 10px;
}
.tabla>h3
{
  text-decoration: line-through; /* ESTO ES TEMPORAL */
  font-size: 30px;
  margin-bottom: 20px;
}
.tabla >p
{
  text-align: left;
  display: block;
  margin-bottom: 20px;
  height: 170px;
}
.boton
{
    outline: none;
    border: none;
    display: inline-block;
    width: 150px;
    padding: 12px;
    background: rgb(44, 95, 136);
    text-decoration: none;
    color: #f1f2ff;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}
.boton:hover
{
  background: rgb(214, 236, 255);
  box-shadow: 0px 0px 4px 0px rgb(99, 99, 99);
  color: #000000;
  transition: .5s all;
  cursor: pointer;
}
.tabla:hover
{
  background: #343759;
  color: #f1f1f2;
  transition: .5s all;
  transform: scale(1.1);
}

/**********
FOOTER
**********/
footer
{
  background: var(--color4);
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
.footer-arriba
{
  color: azure;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 30px 0 20px 0;
}
footer div
{
  width: 25%;
}
.marca-logo
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.marca-logo img
{
  width: 100%;
}
.contacto-footer
{
  width: 20%;
}
.contacto-footer a
{
  color: rgba(145, 145, 145, 0.918);
}
.contacto-footer a:hover
{
  color: rgb(80, 79, 79);
}
.contacto-footer>span
{
  display: block;
  margin-bottom: 5px;
}
footer h4
{
  margin-bottom: 10px;
}
.redes-footer>a>img:hover
{
 transform: scale(1.1,1.1);
}
.fab
{
  width: 20px;
  margin-right: 5px;
}
footer p
{
  display: block;
  width: 100%;
  margin-top: var(--espacios);
  background-color: #16161a;
  color: rgba(119, 119, 119, 0.678);
  padding: 5px 0;
  text-align: center;
}


/*************
VENTANA MODAL
**************/
.modal
{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 4;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  opacity: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: opacity 0.35s ease;
}
.flexModal
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal .contenidoModal
{
  transform: translate(0,-100%);
  background-color: #343759;
  width: 30%;
  height: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.555);
  display: flex;
  flex-direction: column;
}
.contenidoModal span
{
  margin-right: 2%;
  display: flex;
  flex-direction: row-reverse;
}
.contenidoModal span>a
{
  color: #888dce;
}
.contenidoModal span>a:hover
{
  color: #6971e2;
}
.contenidoModal form
{
  background-color: azure;
  padding: 5px 20px;
}
.contenidoModal form>h3
{
  font-size: 16px;
}
.contenidoModal form>input
{
  width: 70%;
  border: none;
  outline: none;
  border-bottom:1px solid rgb(136, 136, 136) ;
}
.contenidoModal form>input:focus
{
  transition: all .5s ease;
  border-bottom:1px solid rgb(66, 66, 66) ;
}
.contenidoModal form>button
{
  border: none;
  outline: none;
  background-color: #343759;
  padding: 3px;
  cursor: pointer;
  border-radius: 5px;
  color: azure;
}
.contenidoModal form>button:hover
{
  background-color: #52557e;
  color: azure;
}
.modal:target
{
  opacity: 1;
  top: 0;
}
.modal:target .contenidoModal
{
  transform: translate(0,0);
  transition: transform 0.35s ease;
}

@media screen and (max-width: 1000px)
{
    .tabla
    {
        width: 45%;
        max-width: none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}
@media screen and (max-width: 700px)
{
    header .logo
    {
        width: 4%;
        transform: scale(0,0);
    }
    .tabla
    {
        width: 45%;
        padding: 30px;
    }
    .tabla > h2
    {
        margin-top: 40px;
    }
    .modal .contenidoModal
    {
      width: 80%;
    }
}
@media screen and (max-width: 500px)
{
    .tabla
    {
        width: 85%;
        padding: 20px;
    }
    .marca-logo
    {
        width: 4%;
        transform: scale(0,0);
    }
    .contacto-footer
    {
        width: 70%;
    }
    .redes-footer
    {
        width: 25%;
    }
}